.boxcontainer{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 5% 2%;
}
.box{
    border-radius: 10px;
    padding: 2%;
    width: 335px;
}
.box1{
    background-color: lightblue;
}
.box2{
    background-color:rgb(248, 158, 213);
}
.box3{
    background-color:lightskyblue;
}
.box1:hover{
    border: 3px solid blue;
}
.box2:hover{
    border: 3px solid blueviolet;
}
.box3:hover{
    border: 3px solid darkblue ;
}
.btn{
    background-color: black;
    color: #ffffff;
    border-radius: 19px;
    padding: 4px 20px;
}
.fa-twitter{
    color: #fff;
}
.fa-instagram{
    color: rgba(255, 0, 0, 0.87);
}
.fa-telegram{
    color: rgba(0, 0, 255, 0.76);
}
